MS_MONITORING_CONFIG=config.yaml

INFLUXDB_URL=https://your-influx-host:8086
INFLUXDB_TOKEN=replace-me
INFLUXDB_ORG=replace-me
INFLUXDB_BUCKET=replace-me/autogen
INFLUXDB_MEASUREMENT=replace-me
INFLUXDB_TIMEOUT=900000
INFLUXDB_VERIFY=false

POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=5432
POSTGRESQL_USER=replace-me
POSTGRESQL_PASSWORD=replace-me
POSTGRESQL_DATABASE=replace-me
