# Python byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
*.__pycache__
*.pyc

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.venv/
env/
venv/
vpy/
ENV/

# Sphinx documentation build
docs/_build/
site/

# IDE and editor folders
.vscode/
.idea/

# Logs
*.log

# dotenv
.env

# Jupyter
.ipynb_checkpoints/

.config*.yaml

# Output files
outs/*
