[Unit]
Description=Aplicacion msGait para gestion de smartSocks 2025
After=network.target

[Service]
User=jordieres
WorkingDirectory=/home/jordieres/soft/sclerosis/DPC_2024/
# EnvironmentFile=/etc/dynreact-ras.env
Environment="PATH=/home/jordieres/soft/vpy/bin"
ExecStart=/home/jordieres/soft/vpy/bin/python -m uvicorn api:app --reload --host 192.168.110.68 --port 5030 --log-level debug
Restart=always

[Install]
WantedBy=multi-user.target

